@font-face {
  font-family: 'DairyMilkFont';
  src: url('./fonts/DairyMilkFont-Medium.otf') format('truetype');
  /* Add additional formats (e.g., woff, woff2) if needed */
}

body {
  font-family: 'DairyMilkFont';
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}